.about-section .page-title {
    margin-bottom: 30px;
    padding-top: 10px;
}

.about-section__wrap {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60% auto;
    width: 100%;
    padding-top: 18px;
    @media (max-width: 768px) {
        background-size: 0px 0px;
    }
}

.about-section__list {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media (max-width: 768px) {
        display: none;
    }
}

.about-section__item-number {
    font-size: 10px;
    color: #a6a6a6;
    font-family: $exo2-bold;
    text-align: center;
}

.about-section__item-text {
    font-size: 13px;
    font-family: $exo2-bold;
    letter-spacing: 0.26px;
    color: $text;
    position: relative;
    padding: 0;
    margin: 0;
    padding-top: 5px;
    max-width: 200px;
    text-transform: uppercase;

}

.about-section__item-wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.about-section__item-wrap-90 {
    width: 92%;
    margin: auto;
    margin-bottom: 70px;
}

.about-section__item-wrap-70 {
    width: 75%;
    margin: auto;
    margin-bottom: 50px;
}


.about-section__item {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.about-section__item--left {
    padding-left: 75px;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    margin-left: 20px;
    &::before {
        position: absolute;
        content: "";
        width: 55px;
        height: 55px;
        background-repeat: no-repeat;
        background-size: cover;
        top: auto;
        left: 0;
    }
}

.about-section__item--2::before {
    background-image: url("../img/icons/reading\ \(1\).svg");
    width: 47px;
}
.about-section__item--3::before {
    background-image: url("../img/icons/teaching.svg");
}
.about-section__item--4::before {
    background-image: url("../img/icons/notes.svg");
}
.about-section__item--5::before {
    background-image: url("../img/icons/online.svg");
}
.about-section__item--6::before {
    background-image: url("../img/icons/teacher\ \(1\).svg");
}


.about-section__item--right {
    align-items: flex-end;
    padding-right: 75px;
    position: relative;
    margin-right: 20px;
    &::after {
        position: absolute;
        content: "";
        width: 55px;
        height: 55px;
        background-repeat: no-repeat;
        background-size: cover;
        top: auto;
        right: 0;
    }
    p {
        text-align: right;
    }
}

.about-section__item--10::after {
    background-image: url("../img/icons/online\ \(1\).svg");
}
.about-section__item--11::after {
    background-image: url("../img/icons/head.svg");
}
.about-section__item--12::after {
    background-image: url("../img/icons/diploma.svg");
}
.about-section__item--9::after {
    background-image: url("../img/icons/customer-service.svg");
}
.about-section__item--8::after {
    background-image: url("../img/icons/thesis.svg");
}

@media(max-width: 768px) {
    .about-section__item--10::before {
        background-image: url("../img/icons/online\ \(1\).svg");
    }
    .about-section__item--11::before {
        background-image: url("../img/icons/head.svg");
    }
    .about-section__item--12::before {
        background-image: url("../img/icons/diploma.svg");
    }
    .about-section__item--9::before {
        background-image: url("../img/icons/customer-service.svg");
    }
    .about-section__item--8::before {
        background-image: url("../img/icons/thesis.svg");
    }
}


.about-section__item--full {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 70px;
    position: relative;
    &::before {
        position: absolute;
        content: "";
        width: 55px;
        height: 55px;
        background-repeat: no-repeat;
        background-size: cover;
        top: 0;
        left: 50%;
        margin-left: -26px;
    }
}

.about-section__item-text--center {
    text-align: center;
}

.about-section__item--full-1::before {
    background-image: url("../img/icons/notes.svg");
}

.about-section__item--1::before {
    background-image: url("../img/icons/notes.svg");
}

.about-section__item--full-7::before {
    background-image: url("../img/icons/learning.svg");
}

.about-section__item--7::before {
    background-image: url("../img/icons/learning.svg");
}


.about-section--slider {
    display: none;
    @media (max-width: 768px) {
        display: block;
    }
}

.about-section--slider .glide {
    display: block;
}

.about-section--slider .about-section__item {
    margin-bottom: 40px;
}

.about-section__list-slider {
    @include list-norm;
}

.about-section__wrap {
    padding-left: 0;
}




.about-section__item--left {
    @media (max-width: 768px) {
        margin-left: 0;
    }
}

.about-section__item {
    @media (max-width: 768px) {
        width: 100%;
    }
}

