.consult-banner {
    background-color: #3c86d3;
    background-image: url("../../img/bgr-gradient-angle.png");
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    padding: 25px 25px 25px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    background-size: cover;
    @media (max-width: 768px) {
        background-image: url("../../img/bgr-gradient-angle-vertical.png");
        flex-direction: column;
        text-align: center;
        padding: 30px 25px 20px;
        justify-content: space-between;
        background-position: center bottom -45px;
    }
    @media (max-width: 375px) {
        background-position: center;
    }
    .btn {
        @media (max-width: 768px) {
            margin-bottom: 20px;
        }  
    }
}

.consult-banner__title {
    margin: 0;
    padding: 0;
    font-size: 39px;
    color: $bg-color;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-family: $exo2-bold;
    @media (max-width: 768px) {
        font-size: 27px;
        line-height: 42px;
        
    }
}

.consult-banner__text {
    color: $bg-color;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    font-family: $exo2;
    line-height: 26px;
    @media (max-width: 768px) {
        font-size: 15px;
        margin-bottom: 20px;
    }
}


.consult-banner--about {
    margin-bottom: 60px;
}


// time-banner styles



.time-banner__wrap {
    background-color: $bg-color;
    border: 3px solid #009ae5;
    background-repeat: no-repeat;
    background-position: left -4px center;
    // background-image: url("../../img/time-banner-full.png");
    background-size: cover;
    overflow: hidden;
    // padding: 5px 20px 25px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    position: relative;
    z-index: 1;
    @media (max-width: 1024px) {
        align-items: stretch;
    }
    
    // @media (max-width: 1200px) {
    //     background-image: linear-gradient(114deg, rgba(0,154,229,1) 0%, rgba(0,154,229,1) 38%, rgba(255,255,255,1) 38%, rgba(255,255,255,0) 100%);
    // }
    // @media (max-width: 1024px) {
    //     padding-top: 30px;
    //     padding-bottom: 30px;
    //     padding-left: 9px;
    // }
    // @media (max-width: 768px) {
    //     background-image: linear-gradient(189deg, rgba(0,154,229,1) 0%, rgba(0,154,229,1) 30%, rgba(255,255,255,1) 30%, rgba(255,255,255,0) 100%);
    //     flex-direction: column;
    //     text-align: center;
    //     padding-top: 15px;
    //     min-height: 530px;
    //     background-size: cover;
    // }
    @media (max-width: 768px) {
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: flex-start;
    }
}

.time-banner__title {
    margin: 0;
    padding: 0;
    font-size: 26px;
    line-height: 33px;
    color: $bg-color;
    font-family: $exo2-bold;
    margin-right: 10px;
    padding: 30px;
    @media (max-width: 1200px) {
        padding-left: 10px;
        font-size: 23px;
    }
    @media (max-width: 1024px) {
        padding-left: 10px;
        font-size: 21px;
    }
    @media (max-width: 768px) {
        font-size: 21px;
        padding: 30px 30px 40px;
        margin: 0;
    }
}

.time-banner_item-title {
    clip-path: polygon(0% 0%, 90% 0%, 100% 50%, 90% 100%, 0% 100%);
    background-color: #5399e2;
    width: 33%;
    height: 100%;
    @media (max-width: 1200px) {
        height: auto;
    }
    @media (max-width: 768px) {
        width: 100%;
        text-align: center;
        clip-path: polygon(50% 0%,100% 0,100% 65%,50% 100%,0 65%,0 0);
    }
}


.time-banner__text-dark {
    font-family: $exo2-bold;
    font-size: 14px;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    color: $text
}

.time-banner__item {
    padding-left: 70px;
    position: relative;
    margin-right: 5px;
    margin-left: 5px;
    z-index: 999;
    &::before {
        position: absolute;
        content: "";
        width: 50px;
        height: 50px;
        background-image: url("../../img/icons/alarm-clock.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        left: 0;
        top: 35px;
        opacity: 0.1;
        z-index: 10;
        @media (max-width: 1024px) {
            width: 35px;
            height: 35px;
            top: 40px;
        }
        @media (max-width: 768px) {
            left: 50%;
            margin-left: -115px;
            width: 50px;
            height: 50px;
            top: 25px;
        }
    }
    
}

.time-banner__item {
    height: 100%;
    clip-path: polygon(0% 0%, 90% 0%, 100% 50%, 90% 100%, 0% 100%);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 88%, rgba(0,154,229,1) 88%, rgba(0,154,229,1) 100%);
    width: 21%;
    margin: 0;
    position: relative;
    z-index: 999;
    padding: 30.5px;
    padding-left: 6%;
    overflow: visible;
    &::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        clip-path: polygon(0% 0%, 90% 0%, 100% 50%, 90% 100%, 0% 100%);
        left: -2px;
        background-color: #fff;
        top: 0;
        @media (max-width: 768px) {
            clip-path: polygon(50% 0%,100% 0,100% 65%,50% 100%,0 65%,0 0);
            top: -2px;
            left: 0;
        }
    }

    @media (max-width: 1024px) {
        height: auto;
        padding-left: 5%;
    }
    @media (max-width: 768px) {
        clip-path: polygon(50% 0%,100% 0,100% 65%,50% 100%,0 65%,0 0);
        background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(0,154,229,1) 50%, rgba(0,154,229,1) 100%);
        width: 100%;
        padding: 30px 0;
    }
}

.time-banner__text-accent {
    font-family: $exo2;
    color: $accent;
    font-size: 31px;
    margin: 0;
    z-index: 10;
    position: relative;
    
    span {
        font-size: 13px;
    }
    @media (max-width: 1024px) {
        font-size: 24px;
        line-height: 18px;
    }
}

.time-banner__text-dark {
    z-index: 10;
    position: relative;
}

.time-banner__item-btn {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
    .btn {
        max-width: 200px;
    }
    @media (max-width: 1200px) {
        margin-right: 10px;
    }
    @media (max-width: 768px) {
        margin-right: 0;
        padding-bottom: 30px;
        padding-top: 20px;
    }
}

.time-banner__text-btn {
    font-size: 10px;
    line-height: 21px;
    font-family: $exo2-bold;
    text-transform: uppercase;
    @media (max-width: 768px) {
        font-size: 12px;
    }
}






.course-banner {
    position: relative;
    background-color: #3c86d3;
    z-index: 2;
    margin-bottom: 50px;
    display: flex;
    overflow: hidden;
    background-image: url("../../img/circles.png");
    background-repeat: no-repeat;
    background-position: right center;
    border-radius: 8px;
    &::after {
        position: absolute;
        content: "";
        left: 40px;
        top: 0;
        width: 40%;
        height: 100%;
        clip-path: polygon(0% 0%, 90% 0%, 100% 50%, 90% 100%, 0% 100%);
        background-color: #5399e2;
        opacity: 0.5;
        z-index: 3;
        @media (max-width: 1200px) {
            width: 35%;
        }
        @media (max-width: 850px) {
            width: 40%;
        }
        @media (max-width: 768px) {
            clip-path: polygon(50% 0%,100% 0,100% 65%,50% 100%,0 65%,0 0);
            width: 100%;
            height: 50%;
            left: 0;
        }
    }
    @media (max-width: 1024px) {
        background-image: none;
    }
    @media (max-width: 768px) {
       flex-direction: column;
       align-items: center;
       justify-content: space-between; 
       min-height: 430px;
    }
}

.course-banner__text-left {
    z-index: 4;
    position: absolute;
    width: 40%;
    height: 100%;
    padding: 0 0 30px 40px;
    clip-path: polygon(0% 0%, 90% 0%, 100% 50%, 90% 100%, 0% 100%);
    background-color: #5399e2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    .btn {
        margin-top: auto;
        @media (max-width: 768px) {
            position: absolute;
            bottom: -10px;
            z-index: 999;
        }
    }
    @media (max-width: 1200px) {
        width: 35%;
        padding-left: 30px;
    }
    @media (max-width: 850px) {
        width: 40%;
    }
    @media (max-width: 768px) {
        clip-path: polygon(50% 0%,100% 0,100% 65%,50% 100%,0 65%,0 0);
        width: 100%;
        height: 40%;
        position: static;
        overflow: visible;
        .kkk {
            position: absolute;
            bottom: 0;
        }
    }
}

.course-banner__title {
    font-size: 40px;
    font-family: $exo2-bold;
    color: $bg-color;
    margin: 0;
    text-transform: uppercase;
    padding-top: 30px;
    @media (max-width: 1200px) {
        font-size: 30px;
    }
    @media (max-width: 768px) {
        padding-top: 20px;
        font-size: 27px;
    }
    
}

.course-banner__text {
    color: $bg-color;
    font-family: $exo2;
    font-size: 17px;
    @media (max-width: 1200px) {
        padding-right: 20px;
    }
    @media (max-width: 768px) {
        padding-right: 0;
        text-align: center;
    }
}

.course-banner__right {
    margin-left: auto;
    display: flex;
    padding-right: 60px;

    li {
        color: $bg-color;
        z-index: 4;
    }
    @media (max-width: 1024px) {
        padding-right: 30px;
    }
    @media (max-width: 768px) {
        margin-top: auto;
        margin-left: 0;
        text-align: center;
        padding-bottom: 50px;
    }
}

.course-banner__title-right {
    color: $bg-color;
    padding-top: 40px;
    position: relative;
    z-index: 4;
}

.course-banner__img-wrap img {
    width: 286px;
    height: 238px;
    position: relative;
    bottom: -7px;
    @media (max-width: 1024px) {
        width: 150px;
        height: auto;
        bottom: -100px;
    }
    @media (max-width: 850px) {
        position: absolute;
        right: 0;
        bottom: 0;
    }
}