.header {
    text-transform: uppercase;
    background: 
                url("../../img/pattern.png") no-repeat left top,
                radial-gradient(circle at 0 0, #eaf5fb, #f8fafb);
    position: relative;
}

.header__row {
    width: 100%;
    max-width: 1280px;
    padding: 20px 20px 30px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @media (max-width: 1024px) {
        padding-top: 45px;
        align-items: center;
    }
    @media (max-width: 420px) {
        padding: 45px 15px 10px;
    }
    @media (max-width: 1280px) {
        max-width: none;
    }
}

.header__logo {
    @media (max-width: 1024px) {
        order: 3;
    }
}

.header__descr {
    max-width: 190px;
    display: flex;
    align-items: center;
    font-size: 13px;
    line-height: 20px;
    font-family: $exo2;
    color: #383838;
    text-transform: none;
    padding-left: 15px;
    border-left: 1px solid #e1e7ea;
    @media (max-width: 1024px) {
        display: none;
    }
}

.header__group-inst-address {
    display: flex;
    align-items: center;
    @media (max-width: 1024px) {
        order: 1;
        width: 100%;
        background-color: #4d5457;
        position: absolute;
        left: 0;
        top: 0;
        padding: 8px 20px;
        justify-content: space-between;
    }
    @media (max-width: 420px) {
        padding: 8px 15px;
    }
    .block-inst {
        @media (max-width: 1024px) {
            position: static;
            max-width: 131px;
            font-size: 11px;


        }
    }
    .block-inst__icon {
        @media (max-width: 1024px) {
            margin-right: 10px;
            width: 20px;
            height: 20px;
        }
    }
    .block-inst__phone-text {
        display: none;
        @media (max-width: 1024px) {
            display: block;
            color: $bg-color;
        }
    }
    .block-inst__descktop-text {
        color: $text-light;
        @media (max-width: 1024px) {
            display: none;
        }
    }
    .header__address {
        padding-left: 45px;
        position: relative;
        margin-left: 60px;
        @media (max-width: 1024px) {
            padding-left: 20px;
            margin-left: 0;
        }
        &::after {
            content: "";
            position: absolute;
            width: calc(100% - 45px);
            height: 1px;
            background-color: $text-gray;
            left: 45px;
            bottom: 0;
            @media (max-width: 1024px) {
                width: calc(100% - 20px);
                left: 20px;
            }
        }
        &::before {
            content: "";
            position: absolute;
            width: 33px;
            height: 33px;
            border-radius: 50%;
            background-color: $bg-color;
            box-shadow: 0px 5px 16px 0 rgba(0, 0, 0, 0.06);
            background-image: url("../../img/placeholder-filled-point-or.png");
            background-repeat: no-repeat;
            background-position: center;
            background-size: 13px 15px;
            left: 0;
            top: -50%;
            @media (max-width: 1024px) {
                width: 13px;
                height: 17px;
                background-color: transparent;
                box-shadow: none;
                background-image: url("../../img/placeholder-filled-point.png");
                top: 0;

            }
        }
        a {
            text-transform: none;
            font-size: 13px;
            color: $accent;
            font-family: $exo2;
            @media (max-width: 1024px) {
                color: $bg-color;
            }
        }
    }
}

.header__row .block-phone {
    width: auto;
    justify-content: space-between;
    align-items: center;
    padding-top: 7px;
    .block-phone__link {
        color: $text-light;

    }
    @media (max-width: 1024px) {
        order: 4;
        width: 100%;
        justify-content: center;
        padding-top: 15px;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            width: calc(100% + 40px);
            height: 1px;
            background-color: $accent;
            opacity: 0.1;
            top: 0;
            left: -20px;
            z-index: 10;
            @media (max-width: 420px) {
                width: calc(100% + 30px);
                left: -15px;
            }
        }
    }
}

.header__main-menu {
    width: 100%;
    padding-top: 20px;
    margin-top: 10px;
    position: relative;
    @media (max-width: 1024px) {
        order: 2;
        width: auto;
        margin-top: 0;
        padding-top: 0;
    }
    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        background-color: $accent;
        opacity: 0.1;
        top: 0;
        left: 0;
        z-index: 10;
        @media (max-width: 1024px) {
            display: none;
        }
    }
    .main-menu {
        max-width: 75%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .main-menu__link {
            color: $text-light;
            &:hover {
                color: $accent;
            }
        }
        @media (max-width: 1024px) {
            display: none;
        }
    }
    .header__menu-icon {
        display: none;
        @media (max-width: 1024px) {
            display: block;
            width: 40px;
            height: 40px;
            box-shadow: 0px 6px 24px 0 rgba(23, 69, 92, 0.1);
            border-radius: 50%;
            background-color: $bg-color;
            background-image: url("../../img/icons/menu.svg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: 13px 13px;
            cursor: pointer;
        }
    }
}

.header__menu-name {
    display: none;
}


.header__main-menu.menu__open {
    @media (max-width: 1024px) {
        position: fixed;
        background-color: #fff;
        min-height: 100vh;
        width: 97vw;
        left: 0;
        top: 0;
        z-index: 999;
        .main-menu {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            width: 100%;
            max-width: none;
            .main-menu__item {
                width: 100%;
                margin-bottom: 0;
                &:last-child {
                    border-bottom: 1px solid rgba($color: $text-light, $alpha: 0.1);
                }
            }
            .main-menu__link {
                display: inline-block;
                font-size: 12px;
                padding-top: 15px;
                padding-bottom: 15px;
                padding-left: 45px;
                width: 100%;
                height: 100%;
                border-top: 1px solid rgba($color: $text-light, $alpha: 0.1);
                position: relative;
                &:hover {
                    background-color: $accent;
                    color: $bg-color;
                }
                &::before {
                    content: "";
                    position: absolute;
                    width: 7px;
                    height: 7px;
                    background-color: #e94c00;
                    border-radius: 50%;
                    left: 30px;
                    top: 50%;
                    margin-top: -4px;

                }
            }
        }
        .header__menu-name {
            display: inline;
            font-family: $exo2-bold;
            font-size: 14px;
            vertical-align: middle;
            margin-left: 20px;
        }
        .header__menu-icon {
            margin-left: 15px;
            background-image: url("../../img/icons/close-button.svg");

        }
        .header__menu-icon--wrap {
            display: flex;
            align-items: center;
            padding-top: 15px;
            padding-bottom: 20px;
        }
    }

}


.header__title {
    width: 100%;
    max-width: 1280px;
    padding: 0 20px 25px;
    margin: auto;
    @media (max-width: 1280px) {
        max-width: none;
    }
    @media (max-width: 600px) {
        display: none;
    }
}

.header__title-description {
    margin: 0;
    padding: 0;
    font-family: $lato-light;
    font-size: 21px;
    margin-bottom: 20px;
    padding-top: 10px;
    color: #414142;
    text-transform: none;
}


.header__wrap {
    width: 100%;
    max-width: 1280px;
    margin: auto;
    background-image: url("../../img/illustrations/main.svg");
    background-repeat: no-repeat;
    background-position: right 50px bottom -100px;
    background-size: 342px 300px;
    padding-bottom: 15px;
    @media (max-width: 1280px) {
        max-width: none;
    }
    @media (max-width: 600px) {
        background-image: none;
    }
}

.breadcrumb {
    width: 100%;
    padding: 0 20px 10px;
    text-transform: none;
    @media (max-width: 600px) {
        display: none;
    }
}

.breadcrumb__list {
    @include list-norm;
    display: flex;
    justify-content: flex-start;
}

.breadcrumb__link {
    color: #96aebd;
    font-size: 14px;
    line-height: 20px;
}

.breadcrumb__item {
    position: relative;
    padding-right: 25px;
    padding-left: 12px;
    &::after {
        position: absolute;
        content: "";
        width: 12px;
        height: 1px;
        background-color: #96aebd;
        right: 0;
        top: 50%;
        z-index: 10;
    }
}

.breadcrumb__item:last-child::after {
    display: none;
}

.breadcrumb__item--first {
    padding-left: 25px;
    .breadcrumb__link {
        color: #526775;
    }
    &::before {
        position: absolute;
        content: "";
        width: 17px;
        height: 13px;
        background-image: url("../../img/icons/home.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 17px 13px;
        left: 0;
        top: 50%;
        margin-top: -7px;
        opacity: 0.2;
        z-index: 10;
    }
}


.btn {
    display: inline-block;
    font-size: 12px;
    line-height: 19px;
    letter-spacing: 0.24px;
    font-family: $exo2-bold;
    padding: 18px 30px 20px;
    border-radius: 29px;
    text-transform: uppercase;
    border: none;
    outline: none;
}

.btn-orange {
    box-shadow: 0px 5px 16px 0 rgba(0, 0, 0, 0.12);
    background-image: $opposite;
    color: $bg-color;
    transition: all .25s ease-in;
    &:hover {
        background-image: $opposite-light;
    }
    &:focus {
        box-shadow: 0px 5px 16px 0 rgba(0, 0, 0, 0.12), inset 0px 3px 7px 0 rgba(0, 0, 0, 0.32);
    }
}

.btn-gray {
    background-color: $accent-gray;
    color: #282a2b;
    transition: all .25s ease-in;
    &:hover {
        color: $bg-color;
        background-color: $accent;
    }
    &:focus {
        background-color: $accent;
        box-shadow: inset 0px 3px 7px 0 rgba(0, 0, 0, 0.32);
        color: $bg-color;
    }
}
