.slider__wrap {
    width: 85%;
    margin: auto;
    overflow: hidden;
    padding-bottom: 60px;
    @media (max-width: 768px) {
        width: 100%;
    }
    .glide__arrows {
        bottom: -40px;
    }
    .glide__bullets {
        bottom: -50px;
    }
}

.glide__arrows,
.glide__bullets {
    display: none;
    @media (max-width: 1024px) {
        display: block;
    }
}

.about-section--slider .glide {
    display: none;
    @media (max-width: 768px) {
        display: block;
    }
}

.glide__bullets {
    bottom: -20px;
}

.glide__bullet {
    width: 9px;
    height: 9px;
    background-color: $accent-light;
    border: none;
    box-shadow: none;
    margin-right: 13px;
    border-radius: 50%;
    &:last-child {
        margin-right: 0;
    }
}

.glide__arrows {
    position: relative;
    bottom: 0;
    width: 100%;
    bottom: -10px;
}

.glide__arrow {
    position: absolute;
    display: block;
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: 14px 14px;
    border: none;
    box-shadow: none;
    text-shadow: none;
    color: transparent;

}

.glide__arrow--left {
    background-image: url("../../img/icons/go-back-left-arrow.svg");
    left: 2em;
}

.glide__arrow--right {
    background-image: url("../../img/icons/right-arrow-forward.svg");
    right: 2em;
}

.glide__bullet--active {
    width: 13px;
    height: 13px;
    background-color: $accent;
}