/* Style the tab */
.tab-section {
    .page-title {
        width: 100%;
        max-width: 1280px;
        padding-left: 20px;
        padding-right: 20px;
        margin: auto;
        margin-bottom: 50px;
        @media (max-width: 420px) {
            padding: 0 15px;
            margin-bottom: 15px;
            text-align: center;
        }
        @media (max-width: 1280px) {
            max-width: none;
        }
    }
}

.tab {
    overflow: hidden;
    width: 100%;
    position: relative;
    min-height: 495px;
    @media (max-width: 768px) {
        padding-top: 50px;
        padding-bottom: 60px;
    }
}

.tab__wrap {
    display: flex;
    align-items: flex-end;
    position: relative;
    margin-top: -235px;
    @media (max-width: 768px) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 705px;
        position: absolute;
        bottom: 0;
        margin-bottom: 25px;
    }
}

/* Style the buttons inside the tab */
.tab__wrap div {
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
} 

.tab__link {
    background-color: $accent;
    color: $bg-color;
    max-width: 245px;
    padding: 25px 30px 20px 20px;
    cursor: pointer;
    box-shadow: -17px 0px 21px 0 rgba(0, 0, 0, 0.07);
    margin-right: 1px;
    width: 245px;
    @media (max-width: 768px) {
        width: 100%;
        max-width: none;
        order: 2;
        margin-right: 0;
        margin-bottom: 1px;
    }
}

.tab__link--general {
    background-color: $bg-color;
    color: $text;
    padding: 25px 30px 20px 20px;
    min-height: 235px;
    .tab__title {
        margin: 0;
        padding: 0;
        margin-bottom: 15px;
    }
    .block-phone__text {
      text-transform: uppercase;
      font-size: 11px;
      margin-bottom: 8px;
    }
    .block-phone__link {
        color: $text-light;
        font-family: $lato-black;
        font-size: 17px;
        line-height: 20px;
        margin-bottom: 10px;
    }
    p {
        padding: 0;
        margin: 0;
        font-size: 14px;
        margin-bottom: 15px;
        font-family: $lato-bold;
    }
    @media (max-width: 768px) {
        order: 1;
        margin-bottom: auto;
    }
}



.tab__title {
    font-size: 12px;
    font-family: $lato-black;
    text-transform: uppercase;
    margin: 0;
}

/* Change background color of buttons on hover */
.tab__link:hover {
    background-color: darken($color: $accent, $amount: 5);
}

/* Create an active/current tablink class */
.tab__link.active {
    background-color: darken($color: $accent, $amount: 5);
}

.tab__link--general:hover {
    background-color: darken($color: $bg-color, $amount: 5);
}

.tab__link--general.active {
    background-color: darken($color: $bg-color, $amount: 0);
}


/* Style the tab content */
.tabcontent {
    display: none;
    border: none;
    line-height: 0;
}


.tab__social {
    margin-bottom: 25px;

}

.tab__social-link {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    margin-right: 5px;
}

.tab__social-link--vk {
    background-image: url("../../img/vk-tab.png");
}

.tab__social-link--inst {
    background-image: url("../../img/inst-tab.png");
}

.tabcontent iframe {
    @media (max-width: 768px) {
        height: 625px;
    }
}



// Styles for tabs in contacts-page

.tab-section--contacts {
    position: relative;
    overflow: visible;
    .page-title {
        display: none;
        @media (max-width: 600px) {
            display: block;
            text-align: center;
            padding-top: 35px;
            margin-bottom: 30px;
        }
    }
    .tab {
        overflow: visible;
    }
    .tab__wrap {
        display: flex;
        align-items: stretch;
        justify-content: center;
        position: absolute;
        margin-top: -60px;
        left: 50%;
        margin-left: -640px;
        z-index: 999;
        width: 100%;
        @media (max-width: 768px) {
            left: 0;
            margin-left: 0;
            flex-direction: column;
        }
    }
    .tab__link {
        background-color: $bg-color;
        color: $text;
        padding: 30px 30px 30px 70px;
        min-height: 225px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-shadow: 0px 5px 16px 0 rgba(182, 200, 212, 0.24);
        max-width: none;
        width: 25%;
        margin-right: 0;
        border: 2px solid transparent;
        @media (max-width: 768px) {
            width: 100%;
            padding-left: 25px;
            min-height: auto;
            padding: 15px;
        }
        .tab__title {
            margin: 0;
            padding: 0;
            margin-bottom: 7px;
            position: relative;
            @media (max-width: 768px) {
                margin-bottom: 0;
            }
            &::before {
                position: absolute;
                content: "";
                width: 33px;
                height: 33px;
                background-color: $accent-light;
                background-image: url("../../img/icons/placeholder-filled-point.svg");
                background-repeat: no-repeat;
                background-position: center center;
                background-size: 15px 19px;
                border-radius: 50%;
                left: -50px;
                @media (max-width: 768px) {
                    display: none;
                }
            }
        }
        .block-phone__text {
          text-transform: uppercase;
          font-size: 11px;
          margin-bottom: 4px;
          position: relative;
            &::before {
                position: absolute;
                content: "";
                width: 33px;
                height: 33px;
                background-color: $accent-light;
                background-image: url("../../img/icons/phone-call-button.svg");
                background-repeat: no-repeat;
                background-position: center center;
                background-size: 14px 14px;
                border-radius: 50%;
                left: -50px;
                top: -5px;
                @media (max-width: 768px) {
                    display: none;
                }
            }
        }
        .block-phone__link {
            color: $text-light;
            font-family: $lato-black;
            font-size: 17px;
            line-height: 20px;
            display: inline-block;
            margin-bottom: 20px;
        }
        p {
            padding: 0;
            margin: 0;
            font-size: 14px;
            margin-bottom: 20px;
            font-family: $lato-bold;
            flex-grow: 1;
            @media (max-width: 768px) {
                margin-bottom: 0;
            }
        }
    }
    .tab__link--general {
        min-height: none;
        @media (max-width: 768px) {
            p {
                margin-bottom: 20px;
            }
        }
    }
    .block-phone-social {
        @media (max-width: 768px) {
            order: 3;
        } 
    }
    .tab__social {
        margin-bottom: 0;
        @media (max-width: 768px) {
            order: 2;
            margin-bottom: 20px;
        }
    }

    .tab__link--common {
        @media (max-width: 768px) {
            background-color: $accent;
            .tab__title,
            p {
                color: $bg-color;
            }
            .block-phone-social {
                display: none;
            }
            .tab__social {
                display: none;
            }
            &:hover {
                background-color: darken($color: $accent, $amount: 5);
            }
            &.active {
                ackground-color: darken($color: $accent, $amount: 5);
            }
        }
    }

    .tab__link:hover {
        border: solid 2px $accent;
        position: relative;
    }

    .tab__link.active {
        border: solid 2px $accent;
        position: relative;
        &::after {
            position: absolute;
            content: "";
            display: block;
            width: 0;
            height: 0;
            border-top: 15px solid $accent;
            border-right: 15px solid transparent;
            border-bottom: 15px solid transparent;
            border-left: 15px solid transparent;
            position: absolute;
            bottom: -32px;
            left: 50%;
            margin-left: -19px;
            z-index: 1;
            @media (max-width: 768px) {
                display: none;
            }
        }
    }
}