
.text-img-section .page-title {
    padding-top: 40px;
    margin-bottom: 35px;
    text-align: center;
    @media (max-width: 768px) {
        margin-bottom: 25px;
        padding-top: 30px;
    }
}

.text-img-section--index .page-title {
    padding-top: 15px;
    margin-bottom: 25px;
    text-align: left;
    @media (max-width: 768px) {
        margin-bottom: 20px;
        text-align: center;
    }
}

.text-img-section {
    position: relative;
    overflow: hidden;
}

.text-img-section .text-wrap {
    padding-top: 60px;
    margin-right: 50px;
    @media (max-width: 768px) {
        padding-top: 0;
        margin-right: 0;
    }
}

.text-img-section--index .text-wrap {
    padding-top: 0;
}

.text-img-section p {
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
    line-height: 27px;
    
}

.text-img-section ul {
    @include list-norm;
    display: flex;
    justify-content: space-between;
    @media (max-width: 768px) {
        flex-direction: column;
    }
    li {
        padding-left: 30px;
        font-size: 16px;
        line-height: 26px;
        position: relative;
        max-width: 33%;
        @media (max-width: 768px) {
            width: 70%;
            max-width: none;
            margin-bottom: 15px;
        }
    }
    li::before {
        position: absolute;
        content: "";
        width: 17px;
        height: 13px;
        top: 5px;
        left: 0;
        background-image: url("../../img/icons/checked-blue.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}

.text-img-section img {
    width: 44%;
    @media (max-width: 1024px) {
        width: 210px;
        height: auto;
    }
    @media (max-width: 768px) {
        position: absolute;
        bottom: 40px;
        right: -100px;
    }
}

.text-img-section__wrap {
    display: flex;
    margin-bottom: 60px;
    justify-content: space-between;
}

.text-img-section--repetitors {
    margin-top: 60px;
    .page-title {
        text-align: left;
    }
    .text-wrap {
        padding-top: 0;
    }
    img {
        width: 35%;
        margin-top: -85px;
    }
}

.text-img-section--index img {
    margin-top: -45px;
    @media (max-width: 768px) {
        width: 300px;
        bottom: 65px;
        right: -100px;
        z-index: -1;
    }
    @media (max-width: 600px) {
        width: 210px;
        bottom: 50%;
        margin-bottom: -145px;
        right: -80px;
    }
    @media (max-width: 425px) {
        margin-bottom: -280px;
    }
}

.text-img-section--index .text-img-section__wrap {
    @media (max-width: 600px) {
        margin-bottom: 30px;
    }
}


.text-img-section__btn-wrap {
    padding-top: 15px;
    @media (max-width: 600px) {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .btn {
        margin-right: 15px;
        @media (max-width: 600px) {
            margin-bottom: 15px;
            margin-right: 0;
        }
    }
}