$lato: "Lato-Regular", helvetica, sans-serif;
$lato-light: "Lato-Light", helvetica, sans-serif;
$lato-bold: "Lato-Bold", helvetica, sans-serif;
$lato-semibold: "Lato-SemiBold", helvetica, sans-serif;
$lato-heavy: "Lato-Heavy", helvetica, sans-serif;
$lato-black: "Lato-Black", helvetica, sans-serif;

$exo2: "Exo2-Regular", helvetica, sans-serif;
$exo2-bold: "Exo2-Bold", helvetica, sans-serif;


// colors
$bg-color: #ffffff;
$bg-dark: #333536;

$accent: #1876ce;
$accent-light: #e0f0fa;
$accent-gray: #d7e0e9;
$opposite: linear-gradient(to top, #f69b02, #edc109);
$opposite-light: linear-gradient(to top, #ffb942, #f6cf2a);
$opposite-dark: #ff9308;

$text: #010915;
$text-light: #323437;
$text-gray: #ced1d3;