$lato: "Lato-Regular", helvetica, sans-serif;
$lato-light: "Lato-Light", helvetica, sans-serif;
$lato-bold: "Lato-Bold", helvetica, sans-serif;
$lato-semibold: "Lato-SemiBold", helvetica, sans-serif;
$lato-heavy: "Lato-Heavy", helvetica, sans-serif;
$lato-black: "Lato-Black", helvetica, sans-serif;

$exo2: "Exo2-Regular", helvetica, sans-serif;
$exo2-bold: "Exo2-Bold", helvetica, sans-serif;


// colors
$bg-color: #ffffff;

$accent: #f4d75c;
$accent-dark: #ffbb3c;
$accent-light: #fbefba;